<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yumumu.shardingjdbclearning.userLog.dao.LogMapper">

    <resultMap id="BaseResultMap" type="com.yumumu.shardingjdbclearning.userLog.model.po.Log">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,create_time,
        content
    </sql>
</mapper>
